<?xml version='1.0' encoding='utf-8'?>
<plugin
        id="cordova-plugin-google-play-games"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
>
    <name>cordova-plugin-google-play-games</name>
    <description>Cordova plugin to work with Google Play Games services</description>
    <js-module src="www/googleplaygames.js" name="GooglePlayGames">
        <clobbers target="GooglePlayGames" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=9.0" />
        <engine name="cordova-android" version=">=9.0.0" />
    </engines>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GooglePlayGamesPlugin">
                <param name="android-package" value="io.luzh.cordova.plugin.GooglePlayGamesPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.google.android.gms.version"
                       android:value="@integer/google_play_services_version" />


        </config-file>

        <source-file src="src/android/GooglePlayGamesPlugin.java"
                     target-dir="src/io/luzh/cordova/plugin" />
        <framework src="src/android/googleplaygames.gradle" custom="true" type="gradleReference" />

        <framework src="com.android.support:support-v4:+" />
        <framework src="com.android.support:recyclerview-v7:27.1.1" />

    </platform>
</plugin>
